<% provide(:search_name, '投稿検索') %>
<% provide(:path, root_path) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>

  <!-- 検索フォーム -->
  <%= render 'shared/search_form' %>

  <div class="col-md-8">
    <h3>フレンド投稿 (<%= @feed_list.count %>)</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
